<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new bin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-4">
          <%= simple_form_for @bin do |f| %>
            <%= f.input :name, html5: true %>
            <%#= f.input :address, html5: true %>
            <%= f.association :categories, multiple: true %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <div class="text-center">
              <%= f.submit 'Create a new bin', class: 'btn btn-primary text-light' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
