<div class="card-trip">
  <% if bin.photos.attached? %>
    <%= cl_image_tag(bin.photos.first.key) %>
  <% else %>
    <img src="https://www.dulton.jp/img/goods/8/PT_img.jpg" />
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h4><%= bin.name %></h4>
      <p><%= bin.address %></p>
      <% bin.categories.each do |category| %>
        <p><%= category.name.capitalize %></p>
      <% end %>
    </div>
  </div>
  <%= link_to "Get Directions", "https://www.google.com/maps?saddr=My+Location&daddr=#{bin.address}", class: "btn btn-success btn-sm d-flex justify-content-center", target: :blank %>
</div>
