<div class="map-container" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>">
  <%= form_with url: bins_path, method: :get, class: "d-flex", data: { controller: 'autosave' } do %>
    <% @categories.each do |category| %>
      <%= check_box_tag 'query[]', category.name, params[:query]&.include?(category.name), id: "category-#{category.id}", class: 'category-selector d-none', data: { action: 'autosave#save' } %>
      <label for="category-<%= category.id %>">
        <i class='fa-solid icon-filter <%=category.icon%>'></i><%= category.name.capitalize %>
      </label>
    <% end %>
  <% end %>
  <div class="mapbox" style="width: 100%;" data-map-target="canvas">
  </div>
  <div class="alert alert-warning alert-dismissible fade" data-map-target="alert" role="alert">
    <strong>Thanks! Your report has been submitted.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="footer d-flex justify-content-between" data-darkmode-target="footer">
    <!-- Button trigger modal -->
    <button type="button" class="btn-socials btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-share-nodes"></i>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Share & Follow</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="footer-links">
              <a href="https://www.instagram.com/supkev/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/kevin.s.tsai" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/supkev" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#popupModal" class="add-bin-icon-btn">
      <%= image_tag "card_photo/add_bin.png", class: "add-bin-icon" %>
    </button>
    <%= render 'bins/new_bin_popup' %>
    <div>
      <i class="fa-solid fa-eye btn-toggle" data-action="click->map#toggle click->darkmode#toggle"></i>
    </div>
  </div>
</div>
