<div class="map-container" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>">
  <%= form_with url: bins_path, method: :get, class: "d-flex", data: { controller: 'autosave' } do %>
    <% @categories.each do |category| %>
      <%= check_box_tag 'query[]', category.name, params[:query]&.include?(category.name), id: "category-#{category.id}", class: 'category-selector d-none', data: { action: 'autosave#save' } %>
      <label for="category-<%= category.id %>">
        <%= category.name.capitalize %>
      </label>
    <% end %>
  <% end %>
  <div class="mapbox" style="width: 100%;" data-map-target="canvas">
  </div>
  <div class="footer d-flex justify-content-between" data-darkmode-target="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/supkev/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/kevin.s.tsai" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/supkev" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div>
      <i class="fa-solid fa-eye btn-toggle" data-action="click->map#toggle click->darkmode#toggle"></i>
    </div>
  </div>
</div>
