<!DOCTYPE html>
<html>
  <head>
    <title>Binfind</title>
    <meta charset="utf-8">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <!-- HTML Meta Tags -->
    <title>Binfind</title>
    <meta name="description" content="Solving Tokyo residents problem, locating trash bins all over city. In order to keep the city clean and dispose waste in the correct manner.">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Binfind">
    <meta itemprop="description" content="Solving Tokyo residents problem, locating trash bins all over city. In order to keep the city clean and dispose waste in the correct manner.">
    <meta itemprop="image" content="https://res.cloudinary.com/dh7mp7shk/image/upload/v1678936854/Screenshot_2023-03-16_at_12.20.12_PM_y8jwat.png">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.binfind.online">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Binfind">
    <meta property="og:description" content="Solving Tokyo residents problem, locating trash bins all over city. In order to keep the city clean and dispose waste in the correct manner.">
    <meta property="og:image" content="https://res.cloudinary.com/dh7mp7shk/image/upload/v1678936854/Screenshot_2023-03-16_at_12.20.12_PM_y8jwat.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Binfind">
    <meta name="twitter:description" content="Solving Tokyo residents problem, locating trash bins all over city. In order to keep the city clean and dispose waste in the correct manner.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dh7mp7shk/image/upload/v1678936854/Screenshot_2023-03-16_at_12.20.12_PM_y8jwat.png">
    <!-- Meta Tags Generated via http://heymeta.com -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://yannklein.github.io/japan-pictograms/japan-pictograms.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-controller="darkmode" data-darkmode-target="body">
    <%= render "shared/flashes" %>
    <div>
      <%= render "shared/navbar" %>
      <%= render "shared/display_navigation" %>
      <%= yield %>
    </div>
  </body>
</html>
